body {
	overflow-y: scroll;
}

.caret {
	color: white !important;
	margin-right: 5px;
}

.select-wrapper input.select-dropdown {
	border-color: -moz-use-text-color -moz-use-text-color #FFF !important;
}
